# Базовые инструменты
setuptools>=68.0.0
wheel>=0.40.0
python-dotenv==1.0.0

# Основные зависимости
numpy<2.2,>=1.24

# PyTorch и связанные пакеты
--index-url https://download.pytorch.org/whl/cu121
torch
torchvision
torchaudio

# Зависимости для обработки аудио
pyannote.audio>=3.3.2
git+https://github.com/m-bain/whisperx.git 